.timelineContainer {
    height: 100%;
    width: 100%;
    /* position: relative; */
}

.tooltip {
    background-color: red;
    display: block;
    position: absolute;
}

.tooltip .visible{
    visibility: visible;
}

.timelineRects:hover {
    opacity: 0.8;
}